@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{

    font-size: 1.3rem;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
}

h1{

    color: hsl(234, 12%, 34%);
    font-size: 25px;
}

p{

    color: hsl(229, 6%, 66%);
    font-size: 15px;
}

.main{

    margin: 5em 0;
}

.title{

    text-align: center;
}

.thin_title{

    font-weight: 200;
}

.text{

    text-align: center;
    margin: 1em 0 2.5em;
    padding: 0 1.8em;
}

.card{

    width: 85%;
    margin: 1em auto;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card_1{

    background-color: hsl(180, 62%, 55%);
}

.card_2{

    background-color: hsl(0, 78%, 62%);
}

.card_3{

    background-color: hsl(34, 97%, 64%);
}

.card_4{

    background-color: hsl(212, 86%, 64%);
}

.card_body{

    padding: 1.4em;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.card_body p{

    padding-right: 1em;
    font-size: 14px;
}

.top_line{

    height: 6px;
    width: 100%;
    
}

.icon{

    padding-top: 1em;
    display: flex;
    justify-content: flex-end;
}

.attribution { 
    
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    
    color: hsl(234, 12%, 34%); 
    text-decoration: none;
}

@media (min-width: 1000px) {

    .main{

        margin-top: 2em;
    }

    h1{

        font-size: 30px;
    }

    .text{

        margin: 1em 20em;
    }
    
    .cards{

        display: flex;
        align-items: center;
        width: 90%;
        margin: 2em auto;
    }

    .column{

        flex-basis: 100%
    }

    .card{

        width: 95%;
    }

    .card_body h1{

        font-size: 25px;
    }

    .card p{

        padding-right: 3em;
        margin-top: 0.5em;
        line-height: 1.8em;
    }

    .icon{

        margin-top: 1em;
    }

    .attribution{

        font-size: 15px;
    }

}